<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>64187841842-d1d39hcdmnginj707ahpvt7uqufnuru7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.64187841842-d1d39hcdmnginj707ahpvt7uqufnuru7</string>
	<key>API_KEY</key>
	<string>AIzaSyCUQqNFDldqWuwGuoNiJDr4PyO8R9bNvA8</string>
	<key>GCM_SENDER_ID</key>
	<string>64187841842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.ac.metrocit.loms</string>
	<key>PROJECT_ID</key>
	<string>tmcit-loms</string>
	<key>STORAGE_BUCKET</key>
	<string>tmcit-loms.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64187841842:ios:c6fa55975c767262a6eb2b</string>
</dict>
</plist>